<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[OK]</key>
	<string>ntalker_face_000</string>
	<key>[爱心]</key>
	<string>ntalker_face_001</string>
	<key>[拜托]</key>
	<string>ntalker_face_002</string>
	<key>[棒棒的]</key>
	<string>ntalker_face_003</string>
	<key>[呲牙]</key>
	<string>ntalker_face_004</string>
	<key>[大哭]</key>
	<string>ntalker_face_005</string>
	<key>[发呆]</key>
	<string>ntalker_face_006</string>
	<key>[发怒]</key>
	<string>ntalker_face_007</string>
	<key>[飞吻]</key>
	<string>ntalker_face_008</string>
	<key>[尴尬]</key>
	<string>ntalker_face_009</string>
	<key>[惊恐]</key>
	<string>ntalker_face_010</string>
	<key>[惊讶]</key>
	<string>ntalker_face_011</string>
	<key>[开心]</key>
	<string>ntalker_face_012</string>
	<key>[苦恼]</key>
	<string>ntalker_face_013</string>
	<key>[酷酷的]</key>
	<string>ntalker_face_014</string>
	<key>[困]</key>
	<string>ntalker_face_015</string>
	<key>[冷汗]</key>
	<string>ntalker_face_016</string>
	<key>[流汗]</key>
	<string>ntalker_face_017</string>
	<key>[满意]</key>
	<string>ntalker_face_018</string>
	<key>[迷恋]</key>
	<string>ntalker_face_019</string>
	<key>[勉强]</key>
	<string>ntalker_face_020</string>
	<key>[喵惊讶]</key>
	<string>ntalker_face_021</string>
	<key>[喵开心]</key>
	<string>ntalker_face_022</string>
	<key>[喵哭]</key>
	<string>ntalker_face_023</string>
	<key>[喵苦笑]</key>
	<string>ntalker_face_024</string>
	<key>[喵色]</key>
	<string>ntalker_face_025</string>
	<key>[哦]</key>
	<string>ntalker_face_026</string>
	<key>[伤心]</key>
	<string>ntalker_face_027</string>
	<key>[挑逗]</key>
	<string>ntalker_face_028</string>
	<key>[调皮]</key>
	<string>ntalker_face_029</string>
	<key>[笑哭]</key>
	<string>ntalker_face_030</string>
	<key>[笑脸]</key>
	<string>ntalker_face_031</string>
	<key>[斜眼]</key>
	<string>ntalker_face_032</string>
	<key>[祝贺]</key>
	<string>ntalker_face_033</string>
</dict>
</plist>
